.blog-container 
{
  display: grid;
  margin-left: 25px;
  grid-template-columns: auto auto auto;
  grid-row-gap: 15px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.blog-item 
{
  text-align: center;
  width: 300px;
  height: 300px;
  position: relative;  
}

.blog-item-card
{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 10px;
	
  -webkit-transform-style: preserve-3d; 
  -moz-transform-style: preserve-3d; 
  -ms-transform-style: preserve-3d; 
  -o-transform-style: preserve-3d; 
  transform-style: preserve-3d;


  -webkit-transition: all 0.8s; 
  -moz-transition: all 0.8s; 
  -ms-transition: all 0.8s; 
  -o-transition: all 0.8s;   
	transition: all 0.8s;
}

.blog-item-card-x
{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  
  -webkit-transform-style: preserve-3d; 
  -moz-transform-style: preserve-3d; 
  -ms-transform-style: preserve-3d; 
  -o-transform-style: preserve-3d; 
  transform-style: preserve-3d;
  
  -webkit-transition: all 0.8s; 
  -moz-transition: all 0.8s; 
  -ms-transition: all 0.8s; 
  -o-transition: all 0.8s;   
  transition: all 0.8s;
}

.blog-item h3
{
  -webkit-transform: perspective(500px) translateZ(5rem); 
  -moz-transform: perspective(500px) translateZ(5rem); 
  -ms-transform: perspective(500px) translateZ(5rem); 
  -o-transform: perspective(500px) translateZ(5rem); 
  transform: perspective(500px) translateZ(5rem);
}

.blog-item:hover > .blog-item-card
{
  -webkit-transform: rotateY(180deg); 
  -moz-transform: rotateY(180deg); 
  -ms-transform: rotateY(180deg); 
  -o-transform: rotateY(180deg); 
  transform: rotateY(180deg);
}

.blog-item:hover > .blog-item-card-x
{
  -webkit-transform: rotateX(180deg); 
  -moz-transform: rotateX(180deg); 
  -ms-transform: rotateX(180deg); 
  -o-transform: rotateX(180deg); 
  transform: rotateX(180deg);
}

.blog-card-front h3
{
	color: black;
	padding-top: 215px;
  -webkit-transform: translateZ(5rem); 
  -moz-transform: translateZ(5rem); 
  -ms-transform: translateZ(5rem); 
  -o-transform: translateZ(5rem); 
  transform: translateZ(5rem);
	font-size: 30px;
}

.blog-card-back h3
{
	color: #444;
	padding: 130px 20px 0 20px;
	font-size: 18px;	
}

.blog-card-back-x h3
{
  color: #444;
  padding: 130px 20px 0 20px;
  font-size: 18px;  
}

.blog-card-front img
{
	border-radius: 10px;
}

.blog-card-front
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #ddd;
}

.blog-card-back
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  -webkit-transform: rotateY(180deg); 
  -moz-transform: rotateY(180deg); 
  -ms-transform: rotateY(180deg); 
  -o-transform: rotateY(180deg); 
  transform: rotateY(180deg);
  border: 1px solid lightgreen;
}
.blog-card-back-x
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  -webkit-transform: rotateX(180deg); 
  -moz-transform: rotateX(180deg); 
  -ms-transform: rotateX(180deg); 
  -o-transform: rotateX(180deg); 
  transform: rotateX(180deg);
  border: 1px solid lightgreen;
}
