#homepage
{
    color:#40AED7;
}

/*CSS Design of the first section*/

#slideSection
{
    overflow: hidden;
    width: 715px;
    height: 400px;
    
    
}

@keyframes ani0
{
    0%{opacity:0.2; transform: scale(1.3);}
    10%{opacity:0.6; transform: scale(1);}
    25%{opacity:1;  }
    100%{opacity:1; }
}
@keyframes ani1
{
    0%{opacity:0.2; transform: scale(1.3);}
    10%{opacity:0.6; transform: scale(1);}
    25%{opacity:1; }
    100%{opacity:1;}
}

@keyframes textani0
{
    0%{color:#eee; transform: scale(1.3);}
    10%{color:#999999; transform: scale(1);}
    25%{color:#111111;}
    100%{color:#000;}
}
@keyframes textani1
{
    0%{color:#eee; transform: scale(1.3);}
    10%{color:#999999; transform: scale(1);}
    25%{color:#111111; }
    100%{color:#000;}
}

#firstSection
{
    height:400px;
    margin-left: 0;
    
}

#firstSection #slideSection
{
    float: left;
    border: 1px solid #999999;
    box-shadow: 3px 3px #D6D6D6;
}

#firstSection div
{
    margin-bottom: 0px;
    margin-left: 730px;
    padding: 120px 40px 75px 40px;
    text-align: center;
}

#firstSection h1::first-letter
{
    font-size: 30px;
}




#slideCaption
{
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 12px;
    height:80px;
}

#firstSection input[type="button"]
{
    width: 170px;
    height: 45px;
    font-size: 20px;
    margin: 0;
}

#firstSection h1
{
    font-size: 30px;
    font-weight: 500;
}

/*=================================================*/

#secondSection div
{
    text-align: center;    
}

#secondSection div h1
{
    font-size: 36px;
    margin-bottom: 8px;
}

#secondSection div em
{
    font-size: 18px;
}

.photos
{
    margin-top: 45px;
}

.photos .imgBox
{
    display: inline-block;
    margin: 0px 25px 30px 0px;
    width: 300px;
    height: 210px;
    transition: box-shadow 0.3s;position: relative;
}

.photos .imgBox:hover
{
    box-shadow: 0 0 7px 7px #999999; 
}

.photos .lastBox
{
    margin: 0px 0px 30px 0px;
}

.imgBox:hover > .imgInfo
{
    height: 75px;
}

.imgBox:hover > img
{
    opacity: 0.6;
}

.imgBox .imgInfo
{
    margin-bottom: 0;
    overflow: hidden;
    position: absolute;
    width: 300px;
    height: 0;
    background-color: white;
    bottom: 0px;
    transition: height 0.5s;
}

.imgInfo img
{
    position: relative;
    top: 8px;
}

.imgInfo .price
{
    font-size: 27px;
}

.viewfullgallery
{
    width: 332px;
    height: 45px;
    font-size: 22px;
    padding-left: 20px;
    text-align: left;
    margin-left:314px;
    margin-bottom: 40px;
    margin-top: 10px;
}

/*=====================================================================*/

#slideshow
{
    display: none;
    position: absolute;
    
    height: 650px;
    width: 1200px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    background-color: black;
    border-radius: 30px;
    z-index: 2;
}

#slideshow2 img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 650px;
    max-width: 1120px; 
}

#slideshow2
{
    position: relative;
    height: 650px;
    background-color: black;
    border-radius: 30px;
}

.prev
{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100%;
    width: 45px;
    opacity: 0.6;
    transition: opacity 0.5s;
}

.prev:hover
{
    opacity: 1;
}

.prev p
{
    margin-top: 285px;
}

.next
{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100%;
    width: 45px;
    opacity: 0.6;
    transition: opacity 0.5s;
}

.next:hover
{
    opacity: 1;
}

.next p
{
    margin-top: 285px;
}
.closeBtn
{
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -50px;
    right: -45px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

#slideshow2:hover > .imgInfo
{
    height: 75px;
    overflow: visible;
}

#slideshow2 .imgInfo
{
    margin-bottom: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 0;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    transition: height 0.5s;
    border-radius: 30px;
}

#slideshow2 .imgInfo p
{
    margin-top: 15px;
}

#pageNum 
{
    color: white;
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: transparent;
    color: white;
    z-index: 2;
}

#descriptionBtn
{
    cursor: pointer;
    color: white;
    position: absolute;
    right: 35px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
    transition: transform 0.3s;
    z-index: 2;
    font-size: 25px;
}

#description
{
    position: relative;
    line-height: 30px;
    font-size: 16px;
    width: 1140px;
    height: 0px;
    transition: height 0.5s;
    overflow: hidden;
    background-color: black;
    color: white;
    padding: 30px;
    top: -60px;
    border-radius: 30px;
    z-index: -1;
}

#description p
{
    margin-top: 25px;
}

#description img
{
    position: relative;
    top: 8px;
}

#description .imp
{
    font-size: 25px;
    font-weight: bold;
}

#description h2
{
    margin-top: 30px;
}