#pageName
{
    margin-bottom:50px;
}

#sell section h2
{
    margin-bottom: 30px;
    color: #40ADD6;
}
form section
{
    margin-bottom: 50px;
    
}

#sell td input ,select
{
    height: 40px;
    padding-left: 15px;
    margin-bottom: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

#sell input, select, textarea
{
    border-radius:7px;
    background-color: #E9E9E9;
    padding-left:10px;
    box-sizing: border-box;
}

#sell #submit
{
    background-color: #40ADD6;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
    border-radius: 7px;
    width:150px;
    height:36px;
    text-align: center;
    padding-left: 0;
}


#sell input
{
    width: 400px;
}

#sell .halflength
{
    width:190px;
    margin-right: 18px;
    
}

textarea
{
    width:400px;
    padding-top: 5px;
}